<p id="notice"><%= notice %></p>

<h1><%= @product.name %> <small><%= price_tag_for @product %></small></h1>

<p>
  <%= @product.description %>
</p>

<p>
  <%= render 'commands', product: @product %>
</p>
