<div class="col-md-9">
  <h2><%= current_user == producer ? "You" : producer.name %></h2>
  <p><%= icon 'map-marker', producer.address %></p>
  <p><%= mail_to producer.email, icon('envelope', producer.email) %> <%= link_to (icon 'phone', producer.phone), "tel:#{producer.phone}" %><p>
</div>
<div class="col-md-3">
  <%= link_to(icon('edit', 'Edit'), edit_producer_path(producer), class: 'btn btn-info') if can? :update, producer %>
  <%= link_to(icon('trash','Delete'), producer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger') if can? :destroy, producer %>
</div>
<div class="col-md-10 col-sx-12">
  <br>
  <% if producer.products.any? %>
    <p>
      <strong>Products:</strong>
    </p>
    <div class="row">
      <% producer.products.each do |product| %>
        <div class="col-xs-3 col-sm-3 col-md-2">
          <div class="thumbnail">
            <%= image_tag product.photo.url(:thumb) %>
            <div class="caption">
              <p class="text-center">
                <%= link_to product.name, producer_product_path(producer, product) %>
                <br>
                <small>
                  <%= price_tag_for product %>
                </small>
              </p>
            </div>
          </div>
        </div>
      <% end %>
      <div class="col-xs-3 col-sm-3 col-md-2">
        <div class="thumbnail">
          <div class="text-center center-block" style="height: 100px; width: 100px">
            <%= icon 'arrow-right', '', class: 'fa-5x fa-border' %>
          </div>
          <div class="caption">
            <p class="text-center">
              <%= link_to "See all", producer_products_path(producer) %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <p><strong>No products yet!</strong></p>
  <% end %>

  <p>
    <%= link_to(icon('plus','New product'), new_producer_product_path(producer)) if can? :create, producer.products.build %>
  </p>
</div>